<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weizi.common.mapper.ChannelMapper">

    <resultMap id="ChannelVOWithMovieIdResultMap" type="com.weizi.common.domain.vo.list.ChannelVO">
        <id column="channel_id" property="channelId"/>
        <result column="channel_name" property="channelName"/>
    </resultMap>

    <resultMap id="ChannelPOWithMovieIdResultMap" type="com.weizi.common.domain.po.ChannelPO">
        <id column="channel_id" property="channelId"/>
        <result column="channel_name" property="channelName"/>
    </resultMap>

    <select id="getChannelList" resultMap="ChannelVOWithMovieIdResultMap">
        SELECT
            channel_id,
            channel_name,
            path,
            sort_order
        FROM channel
        WHERE is_active = 1
        ORDER BY sort_order
    </select>

    <select id="selectAllChannels" resultMap="ChannelPOWithMovieIdResultMap">
        SELECT
            channel_id,
            channel_name,
            sort_order,
            is_active
        FROM channel
        ORDER BY sort_order
    </select>

    <select id="getHotTags" resultType="com.weizi.common.domain.vo.list.ChannelVO">
        SELECT
            channel_id,
            channel_name,
            path,
            is_show_choice_tag,
            sort_order
        FROM channel
        WHERE is_active = 1
        AND is_show_choice_tag = 1
        ORDER BY sort_order
    </select>
</mapper>