<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weizi.common.mapper.UmsRoleMapper">

    <select id="selectByAdminId" resultType="java.lang.Long">
        select role_id from admin_to_role where admin_id = #{adminId}
    </select>
    <select id="selectRolePage" resultType="com.weizi.common.domain.vo.list.RoleVO">
        SELECT
        role_id,
        role_label,
        role_name,
        sort,
        status,
        remark,
        create_time,
        update_time
        FROM role
        <where>
            deleted = 0
            <if test="roleLabel != null and roleLabel != ''">
                AND role_label like concat('%', #{roleLabel}, '%')
            </if>
            <if test="roleName != null and roleName != ''">
                AND role_name like concat('%', #{roleName}, '%')
            </if>
        </where>
        LIMIT #{pageNum}, #{pageSize}
    </select>
    <select id="countTotal" resultType="java.lang.Integer">
        SELECT count(*)
        FROM role
        <where>
            deleted = 0
            <if test="roleLabel != null and roleLabel != ''">
                AND role_label like concat('%', #{roleLabel}, '%')
            </if>
            <if test="roleName != null and roleName != ''">
                AND role_name like concat('%', #{roleName}, '%')
            </if>
        </where>
    </select>
</mapper>